<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643449097254-mh8o51lnj56t57om0gthoqugepl29sis.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643449097254-mh8o51lnj56t57om0gthoqugepl29sis</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>643449097254-77e3l1gm3ajpfjkqgn4p7jlg051kivjf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkZi20LLhZ5tlyFtA5IrVRMTu5r-mtcsM</string>
	<key>GCM_SENDER_ID</key>
	<string>643449097254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azizfood.userapp</string>
	<key>PROJECT_ID</key>
	<string>aziz-foods</string>
	<key>STORAGE_BUCKET</key>
	<string>aziz-foods.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643449097254:ios:db09a23a445db7afb36ae7</string>
</dict>
</plist>